@import model.domain.User
@import model.domain.Apartment
@import model.form.BillForm
@import views.html.helper.options
@import model.form.OccupantForm
@(apartment: Apartment,
        billForm: Form[BillForm],
        occupantForm: Form[OccupantForm],
        occupantsList: Seq[(String, String)])(implicit request: RequestHeader, messagesProvider: MessagesProvider, user: User)

@main("Apartment - " + apartment.number) {
    @layout("Apartment", "scala", Some(user)) {

        <h3>Add bill</h3>
        <hr />
        @helper.form(action = routes.ApartmentController.addBill(apartment.id)) {
            @helper.CSRF.formField
            @helper.inputText(billForm("Amount"))
            @helper.inputDate(billForm("Date"))
            @helper.select(
                billForm("Type"),
                Seq(("ELECTRICITY", "Electricity"),
                    ("GAS", "Gas"),
                    ("HOT_WATER", "Hot water"),
                    ("COLD_WATER", "Cold water"),
                    ("SEWAGE", "Sewage"),
                    ("HEATING", "Heating"),
                    ("REPAIR_FUND", "Repair fund")),
                '_label -> "Bill type",
                '_default -> "-----")
            <div class="button">
                <button type="submit">Add Bill</button>
            </div>
        }

        <h3>Add occupant</h3>
        <hr />
        @helper.form(action = routes.ApartmentController.addOccupant(apartment.id)) {
            @helper.CSRF.formField
            @helper.select(
                billForm("Id"),
                occupantsList,
                '_label -> "Occupant",
                '_default -> "-----")
            <div class="button">
                <button type="submit">Add occupant</button>
            </div>
        }

        <h3>Bills</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>Type</td>
                    <td>Date</td>
                    <td>Download</td>
                </tr>
                @for(bill <- apartment.bills) {
                    <tr>
                        <td>@bill.amount</td>
                        <td>@bill.billType</td>
                        <td>@bill.date</td>
                        <td><a href="@routes.ApartmentController.downloadBillInPdf(bill.id.getOrElse(-1L))">PDF</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Occupants</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Telephone</td>
                    <td>Action</td>
                </tr>
            @for(occupant <- apartment.occupants) {
                <tr>
                    <td>@occupant.firstName @occupant.lastName</td>
                    <td>@occupant.email</td>
                    <td>@occupant.telephone</td>
                    <td>
                        @helper.form(action = routes.ApartmentController.removeOccupant(apartment.id, occupant.id.getOrElse(-1L))) {
                            @helper.CSRF.formField
                            <div class="button">
                                <button type="submit">Remove</button>
                            </div>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}
