@import model.domain.User
@import model.domain.Apartment
@(apartment: Apartment)(implicit request: RequestHeader, messagesProvider: MessagesProvider, user: User)

@main("Homepage") {
    @layout("Apartment", "scala", Some(user)) {
        <h3>Bills</h3>
        <table>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>Type</td>
                    <td>Date</td>
                </tr>
                @for(bill <- apartment.bills) {
                    <tr>
                        <td>@bill.amount</td>
                        <td>@bill.`type`</td>
                        <td>@bill.date</td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Occupants</h3>
        <table>
            <tbody>
                <tr>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Telephone</td>
                </tr>
            @for(occupant <- apartment.occupants) {
                <tr>
                    <td>@occupant.firstName @occupant.lastName</td>
                    <td>@occupant.email</td>
                    <td>@occupant.telephone</td>
                </tr>
            }
            </tbody>
        </table>
    }
}
