@import model.domain.User
@import model.domain.Block
@import model.form.ApartmentForm
@(block: Block, apartmentForm: Form[ApartmentForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider, admin: User)

@main(s"Block - ${block.addressToString}") {
    @layout("Block", "scala", Some(admin)) {
        <h3>Add apartment</h3>
        <hr />
        @helper.form(action = routes.BlockController.addApartment(block.id)) {
            @helper.CSRF.formField
            @helper.inputText(apartmentForm("Number"))
            <div class="button">
                <button type="submit">Add apartment</button>
            </div>
        }

        <h3>Apartments</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>Address</td>
                    <td>Number</td>
                </tr>
            @for(apartment <- block.apartments) {
                <tr>
                    <td><a href="@routes.ApartmentController.apartment(apartment.id)">@apartment.id</a></td>
                    <td>@block.addressToString</td>
                    <td>@apartment.number</td>
                </tr>
            }
            </tbody>
        </table>
    }
}
