@import model.domain.User
@import model.domain.Block
@import model.form.BlockForm
@(blocks: Iterable[Block], blockForm: Form[BlockForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider, admin: User)

@main("Block List") {
    @layout("Blocks", "scala", Some(admin)) {
        <h3>Add block</h3>
        @helper.form(action = routes.BlockController.addBlock) {
            @helper.CSRF.formField
            @helper.inputText(blockForm("ZipCode"))
            @helper.inputText(blockForm("Street"))
            @helper.inputText(blockForm("Number"))
            @helper.inputText(blockForm("City"))
            <div class="button">
                <button type="submit">Add block</button>
            </div>
        }

        <h3>Blocks</h3>
        <table>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>Address</td>
                    <td>Apartments</td>
                </tr>
            @for(block <- blocks) {
                <tr>
                    <td><a href="@routes.BlockController.block(block.id)">@block.id</a></td>
                    <td>@block.address.zipCode @block.address.street @block.address.number, @block.address.city</td>
                    <td>@block.apartments.size</td>
                </tr>
            }
            </tbody>
        </table>
    }
}
