@import model.domain.User
@import model.domain.Apartment
@import model.row.BillRow
@(user: User, apartments: Iterable[Apartment], bills: Iterable[BillRow])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Homepage") {
    @layout(Messages("header.page.home"), style = "scala", user = Some(user)) {
        <h3>@Messages("header.section.user-details")</h3>
        <hr />
        <ul>
            <li>@Messages("label.full-name"): @user.firstName @user.lastName</li>
            <li>@Messages("label.email"): @user.email</li>
            <li>@Messages("label.telephone"): @user.telephone</li>
            <li>@Messages("label.roles"): @user.roles.mkString(", ")</li>
        </ul>

        <h3>@Messages("header.section.yours-bills")</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>@Messages("label.amount")</td>
                    <td>@Messages("label.type")</td>
                    <td>@Messages("label.date")</td>
                    <td>@Messages("label.download")</td>
                </tr>
                @for(bill <- bills) {
                    <tr>
                        <td>@bill.amount</td>
                        <td>@bill.billType</td>
                        <td>@bill.date</td>
                        <td><a href="@routes.ApartmentController.downloadBillInPdf(bill.id.getOrElse(-1L))">PDF</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>@Messages("header.section.yours-apartments")</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>@Messages("label.id")</td>
                    <td>@Messages("label.number")</td>
                </tr>
                @for(apartment <- apartments) {
                    <tr>
                        <td><a href="@routes.ApartmentController.apartment(apartment.id)">@apartment.id</a></td>
                        <td>@apartment.number</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
