@import model.domain.User
@import model.domain.Apartment
@import model.row.BillRow
@(user: User, apartments: Iterable[Apartment], bills: Iterable[BillRow])(implicit request: RequestHeader)

@main("Homepage") {
    @layout("Welcome in Our Housing Association!", style = "scala", user = Some(user)) {
        <h3>User details</h3>
        <hr />
        <ul>
            <li>Full name: @user.firstName @user.lastName</li>
            <li>Email: @user.email</li>
            <li>Telephone: @user.telephone</li>
            <li>Roles: @user.roles.mkString(", ")</li>
        </ul>

        <h3>Yours bills</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>Type</td>
                    <td>Date</td>
                    <td>Download</td>
                </tr>
                @for(bill <- bills) {
                    <tr>
                        <td>@bill.amount</td>
                        <td>@bill.billType</td>
                        <td>@bill.date</td>
                        <td><a href="@routes.ApartmentController.downloadBillInPdf(bill.id.getOrElse(-1L))">PDF</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Yours apartments</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>Number</td>
                </tr>
                @for(apartment <- apartments) {
                    <tr>
                        <td><a href="@routes.ApartmentController.apartment(apartment.id)">@apartment.id</a></td>
                        <td>@apartment.number</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
