@import model.form.LoginForm
@(loginForm: Form[LoginForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Login") {
    @layout(message = Messages("header.page.login"), style = "scala") {
        @helper.form(action = routes.LoginController.validateLogin) {
            @helper.CSRF.formField
            @helper.inputText(loginForm("label.email"))
            @helper.inputPassword(loginForm("label.password"))
            <div class="button">
                <button type="submit">@Messages("button.login")</button>
            </div>
        }
    }
}
