@import model.domain.User
@import model.form.UserForm
@(users: Iterable[User], userForm: Form[UserForm])(implicit request: RequestHeader, authenticated: User, messagesProvider: MessagesProvider)

@main("User list") {
    @layout("Users", style = "scala", user = Some(authenticated)) {

        <h3>Add user</h3>
        @helper.form(action = routes.UserController.addUser) {
            @helper.CSRF.formField
            @helper.inputText(userForm("Name"))
            @helper.inputText(userForm("Surname"))
            @helper.inputText(userForm("Telephone"))
            @helper.inputText(userForm("Email"))
            <div class="button">
                <button type="submit">Add user</button>
            </div>
        }

        <h3>User List</h3>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Last name</td>
                    <td>Email</td>
                    <td>Telephone</td>
                    <td>Roles</td>
                    <td>Enabled</td>
                </tr>
                @for(user <- users) {
                    <tr>
                        <td>@user.firstName</td>
                        <td>@user.lastName</td>
                        <td>@user.email</td>
                        <td>@user.telephone</td>
                        <td>Roles</td>
                        <td>@user.enabled</td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
